BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
IndentCaseLabels: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AllowAllArgumentsOnNextLine: true
PackConstructorInitializers: Never
